body {
  background-color: #778da8;
  text-align: center;
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
}
h1 {
  color: white;
}
p {
  font-family: verdana;
  font-size: 20px;
}


#but1 {
  border-radius: 12px;
  border: 3px solid rgb(77, 77, 77);
  font-size: 20px;
  padding: 10px;
  background-color: rgb(105, 105, 105);
  transition-duration: 0.3s;
  cursor: pointer;
}
#but1:hover {
  background-color: rgb(125, 125, 125);
  border: 3px solid rgb(97, 97, 97);
  transform: scale(1.05, 1.05);
}


#popup {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #474747;
  z-index: 2;
}
#p-title {
  font-size: 50px;
  text-align: center;
  color: white;
}
#p-desc {
  font-size: 22px;
  text-align: center;
  color: #c2c2c2;
}
#popup button {
  border-radius: 12px;
  border: 3px solid rgb(173, 21, 21);
  font-size: 30px;
  padding: 10px;
  background-color: rgb(189, 53, 53);
  transition-duration: 0.3s;
  cursor: pointer;
  margin: 5%;
}
#popup button:hover {
  background-color: rgb(209, 73, 73);
  border: 3px solid rgb(193, 41, 41);
  transform: scale(1.05, 1.05);
}


#feedback {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #474747;
  z-index: 2;
}
#f-title {
  font-size: 50px;
  text-align: center;
  color: black;
}
#f-desc {
  font-size: 22px;
  text-align: center;
  color: #000000;
}
#feedback button {
  border-radius: 12px;
  color: white;
  border: 3px solid rgb(77, 77, 77);
  font-size: 30px;
  padding: 10px;
  background-color: rgb(105, 105, 105);
  transition-duration: 0.3s;
  cursor: pointer;
  margin: 5%;
}
#feedback button:hover {
  background-color: rgb(125, 125, 125);
  border: 3px solid rgb(97, 97, 97);
  transform: scale(1.05, 1.05);
}


#reset {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #383030;
  z-index: 2;
}
#reset-t {
  font-size: 50px;
  text-align: center;
  color: white;
}
#reset button {
  border-radius: 12px;
  border: 3px solid rgb(36, 181, 174);
  font-size: 30px;
  padding: 10px;
  background-color: rgb(73, 209, 202);
  transition-duration: 0.3s;
  cursor: pointer;
  margin: 5%;
}
#reset button:hover {
  background-color: rgb(93, 229, 222);
  border: 3px solid rgb(56, 191, 184);
  transform: scale(1.05, 1.05);
}