body {
  background-color: #778da8;
  text-align: center;
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  color: white;
}

p {
  font-family: verdana;
  font-size: 20px;
}



button {
  border-radius: 12px;
  border: 3px solid #24b5ae;
  font-size: 20px;
  padding: 10px;
  background-color: #49d1ca;
  transition-duration: 0.3s;
  opacity: 70%;
  cursor: pointer;
}
button:hover {
  opacity: 100%;
}



#popup {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
}
